@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-bg: #282D3B;
    --color-bg-inverse: #FFFFFF;
    --color-text: #FFFFFF;
    --color-accent: #96C5F7;
    --font-poppins: "Poppins", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
      }
}

.light {
    --color-bg: #FFFFFF;
    --color-bg-inverse: #282D3B;
    --color-text: #282D3B;
    --color-accent: #96C5F7;
}

.loading {
    animation: var(--animate-spin);
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 50px;
    background-color: var(--color-bg);
    z-index: 10;
}

.clean-box-shadow {
    box-shadow:
    0 1px 2px rgba(0.5, 0.5, 0.5, 0.05),
    0 2px 4px rgba(0.5, 0.5, 0.5, 0.05),
    0 4px 8px rgba(0.5, 0.5, 0.5, 0.05),
    0 8px 16px rgba(0.5, 0.5, 0.5, 0.05),
    0 16px 32px rgba(0.5, 0.5, 0.5, 0.05),
    0 32px 64px rgba(0.5, 0.5, 0.5, 0.05);
}

.small-landing-img {
    width: 100px !important;
}

.pointer {
    cursor: pointer;
}

.popup-nav {
    position: fixed;
    width: 100vw;
    opacity: 95%;
    background-color: var(--color-bg);
    z-index: 9;
}

.submit-btn:hover {
    background-color: var(--color-bg-inverse);
    color: var(--color-bg);
}

/* timeline styles */

.vertical-timeline-element-icon.shadow-size-small {
    box-shadow: 0 0 0 2px var(--color-text), inset 0 1px 0 rgba(0, 0, 0, .08), 0 2px 0 4px rgba(0, 0, 0, .05) !important;
}

.vertical-timeline-element-content {
    box-shadow: none !important;
}

.accent-box-shadow {
    box-shadow: 0 2px 6px var(--color-accent) !important;
}